@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Poppins';
}
.navbar {
    background-color: #9EC5FE;
  }
  .custom-btn{
    border-color: #2B3E90;
    color: #2B3E90;
  }
  .custom-btn2{
    background-color: #2B3E90;
    color: white;
      } 

.p{
color: #000;
font-family: Poppins;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 240% */
}

.h5{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
}
.atas{
    background: var(--primary-500, #468CE2);
}

.content {
    background: var(--primary-500, #468CE2);
    
}

a.btn{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    border-color: white;
}

.tentang{
    display: flex;
    height: 89px;
    padding: 15px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 7px;
    flex: 1 0 0;
    border-radius: 25px;
    background: var(--primary-400, #599CE6);
}

.tulis{
    display: flex;
    width: 503px;
    height: 68px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #000;

    /* 40/Judul */
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 160% */
}

body{
    background-color:#E4F0FB;
    font-family: 'Poppins';
}

.card{
    border-radius: 20px;
    
}
.card-img-top{
    border-radius: 15px;
}

.card-body{
    padding: 25px;
    margin-top: -15px;
}

.btn-primary:hover{
    background-color: navy;
}

.column-2 a:hover {
    color: whitesmoke;
    text-decoration: none;
}

.jumbotron {
    padding: 2rem 1rem;
    background-color: #468ce2;
}

#projects {
    background-color: #468ce2;
}

.custom-btn-3{
    border: none;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

.custom-btn-3:hover{
    color: #599CE6;
}

.img-footer{
    height: 65px;;
    width: 270px;
}

.column-2{
    padding-left: 15%;
}

.column-3{
    padding-left: 10%;
}


